<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Sorting Algorithms</title>
        <meta name="author" content="Rylan Dmello">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/resources/pure/pure-min.css">
        <link rel="stylesheet" href="/resources/pure/grids-responsive-min.css">
        <link rel="stylesheet" href="index.css">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />
        <script src="/resources/underscore.js"></script>
        <script src="/resources/d3.js"></script>
        <script src="https://cdn.jsdelivr.net/vue/latest/vue.js"></script>

        <script src="utils.js"></script>
        <script src="sorting.js"></script>
        <script src="view.js"></script>
    </head>
    <body>
        <div class="pure-g">
            <div class="pure-u-2-24 pure-u-md-2-24 pure-u-lg-2-24"></div>
            <div class="content pure-u-20-24 pure-u-md-20-24 pure-u-lg-20-24">
                <h1>  </h1>
                <div class="out">
                    <h1>PROJECT: Implement sorting algorithms in JS</h1>

                    <div id="myapp">
                        <div v-for="sortView in sortViews">
                            <h3>{{sortView.title}}</h3>
                            <span>Step Number: {{sortView.current}}</span>
                            <form class="pure-form">
                                <span>Time Delay: </span><input class="pure-input-1-4 pure-input-rounded" type="text" placeholder=".pure-input-1-4" v-model="sortView.timeDelay" lazy>
                            </form>
                            <pre class="out{{sortView.displayClass}}"></pre>
                            <div class="svgt svgtarget{{sortView.displayClass}}"></div> 
                            <br/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pure-u-2-24 pure-u-md-2-24 pure-u-lg-2-24"></div>
        </div>

        <!-- GitHub Fork Ribbon --> 
        <a href="https://github.com/rdmello/JavaScript-Sorting"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
    </body>
</html>
