
body {
    background-color: rgb(240, 240, 240);
}
h1 {
    font-family: Raleway; 
    font-size: 24px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 500; 
    line-height: 26.4px; 
}
h3 {
    font-family: Raleway; 
    font-size: 18px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 500; 
    line-height: 15.4px; 
}
pre {
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
    font-size: 13px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 18.5667px; 
}

span {
    font-family: Raleway; 
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

input[type="text"] {
    font-family: Raleway; 
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

.out {
    border-radius: 15px;
    background-color: white;
    box-shadow: 2px 4px 6px 1px rgba(50, 50, 50, 0.14);
    padding: 10px; 

}
rect {
    stroke-width: 5; 
    stroke: white;
}
.enter {
    fill: green; 
}
.update {
    fill: #e41a1c; 
}

svg {
    border-radius: 10px; 
}

.lineUpdate {
    stroke: black;
    stroke-width: 2;
}

.svgt {
    position: relative; 
    top: 0px; 
    left: 0px; 
}

.cntrls {
    border: 1px solid rgb(150, 150, 150); 
    padding: 5px; 
    border-radius: 10px; 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    color: rgb(150, 150, 150); 
}
